
 .min_info_item{
     font-size: 14px;
     border: 1px solid;
     border-radius: 5px;
     padding: 5px 7px;
     margin: 0 5px;
     display: flex;
     align-items: center;
     
 }
 .min_info_item > svg{
     width: 30px;
     height: 30px;
     margin-right: 10px;
 }
