.comments_div{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.title{
    margin-bottom: 15px;
    font-size: 20px;
    padding: 4px;
    padding-left: 8px;
    border-left: 3px solid orange;
    background-color: rgba(255, 166, 0, 0.075);
}