.comment_div{
    display: flex;
    flex-direction: column;
    margin: 12px;

}
.user_div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.user_div > div{
    margin-right: 10px;
}
.avatar{
    
}
.avatar > img{
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
.name{
    font-size: 17px;
}

.link_user{
    text-decoration: none;;
}
.link_user:hover{
    text-decoration: underline;
    transition-duration: 0.7s;
}
.comment_text{
    
    
}
.comment{
    margin-left: 38px;
    font-size: 14px;
}
.down_block{
    margin-top: 5px;
}
.answer{
    margin-left: 15px;
    background-color: rgba(128, 173, 76, 0.425);
    border-radius: 3px;
    border: 0px solid;
    box-shadow: 0px 0px 8px 2px rgba(49, 141, 64, 0.096);
    padding: 3px 8px;
}
.answer:focus{
    outline: none;
   
}
.answer:hover{
    background-color: white;
    color: black;
    opacity: 0.7;
    transition-duration: 0.4s;
}