
.hobbies_div{  
    font-size: 20px;
    margin: 8px 5px;
}

.hobbies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
}
.hobbies > div{
    margin: 2px 6px;
    font-size: 12px;
}