@keyframes logo{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-7deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes like{
    0%{

    }
    50%{
        
    }
    100%{

    }
}