#wrapper{
    flex-direction: row;
    width: 100%;
}

#nog{
    font: 35px 'Open Sans Condensed';
}

#menu{
    position: relative;
    align-items: center;
    background-color: #e0f3c34f;
    margin: 20px;
    border-radius: 10px;
}
.item-menu{
    position: relative;
    border-bottom: 1px solid black;
}
.item-menu > a{
    position: relative;
    text-decoration: none;
    color: rgb(1, 83, 83);
    padding: 15px 0;
    width: 100%;
   flex-direction: row;
   align-items: center;
    display: flex;
}
.item-menu > a:hover{
    transition-duration: 1s;
    color: white;
    background-color: rgba(14, 17, 1, 0.507);
}
.menu-icon{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40px;
    height: 40px;
    margin: 0 20px;
}
#menu > img{
    position: relative;
    width: 230px;
    z-index: 3;
}
.menu-elements{
    position: relative;
    z-index: 2;
    width: 100%;
    padding-bottom: 20px;
}



#content{
    margin: 10px;
    padding: 10px;
}
.middle-content{
    display: flex;
    flex-direction: row;
}