
.search{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 8px;
}
.button{
    background-color: white;
    padding: 4.5px 10px;
    border: 0px solid;
    border-right: 1px solid grey;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
#search_icon{
    width: 15px;
    height:15px;
}
.button:focus{
    outline: none;
    background: limegreen;
    border: 1px solid grey;
}
#search_text{
    padding: 6px;
    border: 0px solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#search_text:focus{
    border: 0.7px solid;
    font-size: 13px;
    outline: none;
}